/* You can add global styles to this file, and also import other style files */
/* importar tipografías */
/* variables de css --> Paleta de colores */
/* condiciones iniciales (opcinal) */

@import url('https://fonts.cdnfonts.com/css/freshener');
@import url('https://fonts.cdnfonts.com/css/b612-mono');

/* variables de css */
:root{
    --primary-color:#8A2EFF;
    --secondary-color:#7f00b2;
    --light-background:#F4CAFF;
    --dark-background:#4c007d;
    --enfasis-color:#f988ff;
    --text-color:#1B004B;
    --font-title:'Freshener', sans-serif;
    /* 400 */
    --fint-body:'B612 Mono', sans-serif; 
    /* 400, 700 italic, bold */
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body{
    background-color: var(--light-background);
    font-family: 'B612 Mono', sans-serif;
    color: var(--text-color)
    
}

h1, h2, h3 {
      font-family:var(--font-title); font-weight: 400;
    }

